[
	{ biblio_file,
            [
		{records_file_name,
		"/home/asheldo/projects/biblio/biblio_file/biblio_records.dets"}
	    	,
            	{state_file_name,
		"/home/asheldo/projects/biblio/biblio_file/biblio_state.dets"}
	    	,
	    	{hold, "/home/dkuhlman/a1/Erlang/Cowboy/Work/rest_update/Data/..."}
        ]
    	}
].
